<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Playlists</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/backup.css') }}">
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <a href="#">
                <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Green.png" alt="Logo" />
            </a>
        </div>

        <div class="navigation">
            <ul>
                <li>
                    <a href="{{ url_for('main.index') }}">
                        <span class="fa fa-home"></span>
                        <span>Home</span>
                    </a>
                </li>

                <li>
                    <a href="https://github.com/azambrano43/spotify-auto-liker">
                        <span class="fa fa-search"></span>
                        <span>Github repository</span>
                    </a>
                </li>
            </ul>
            <button type="button" id="backupButton">Perform backup</button>
        </div>
    </div>

    <div class="main-container">
        <div class="topbar">
            <div class="prev-next-buttons">
                <button type="button" class="fa fas fa-chevron-left"></button>
                <button type="button" class="fa fas fa-chevron-right"></button>
            </div>

            <div class="navbar">

                <a href="#">Authenticated as {{ session['client_name'] }}</a>
                <button type="button" id="logoutButton">Log out</button>
            </div>

        </div>

        <div class="spotify-playlists">
            <h2>Select data to back up:</h2>
            <div class="list">
                <!-- Itera sobre las playlists dinámicamente -->
                {% for playlist in playlists %}
                <div class="item">
                    <input type="checkbox" id="{{ playlist.id }}" name="scope" value="{{ playlist.id }}">
                    <label for="{{ playlist.id }}">
                        {% if playlist.images|length > 0 %}
                            <img src="{{ playlist.images.0.url }}" alt="Playlist icon">
                        {% else %}
                            <img src="{{ url_for('static', filename='images/playlist_default_icon.png') }}" alt="Default icon">  <!-- Imagen por defecto si no hay imágenes -->
                        {% endif %}
                        <h4>{{ playlist.name }}</h4>
                    </label>
                </div>
            {% endfor %}
                <div class="item">
                    <input type="checkbox" id="liked" name="scope" value="liked">
                    <label for="liked">
                        <img src="{{ url_for('static', filename='images/liked_songs_icon.jpg') }}" alt="Liked songs icon">
                        <h4>Liked Songs</h4>
                    </label>
                </div>
            </div>
        </div> 
    </div>

    <script src="https://kit.fontawesome.com/23cecef777.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/backup.js') }}"></script>

    <!-- Popup de confirmación con animación de carga -->
    <div id="backupPopup" class="popup" style="display:none;">
        <div class="popup-content">
            <h3>Backup is in progress...</h3>
            <div class="loader"></div>
            <p>Please wait while we process your backup.</p>
        </div>
    </div>
</body>
</html>