<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title if title else "Spotify App" }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="sidebar">
      <div class="logo">
        <a href="#">
          <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Green.png" alt="Logo" />
        </a>
      </div>

      <div class="navigation">
        <ul>
          <li>
            <a href="#">
              <span class="fa fa-home"></span>
              <span>Home</span>
            </a>
          </li>

          <li>
            <a href="https://github.com/azambrano43/spotify-auto-liker">
              <span class="fa fa-search"></span>
              <span>Github repository</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-container">
      <div class="topbar">
        <div class="prev-next-buttons">
          <button type="button" class="fa fas fa-chevron-left"></button>
          <button type="button" class="fa fas fa-chevron-right"></button>
        </div>

        <div class="navbar">
            <button type="button" id="logoutButton">Log out</button>
        </div>
      </div>

      <div class="spotify-playlists">
        <h2>Choose an option:</h2>

        <div class="list">
          <div class="item" data-url="{{ url_for('spotify.backup_options') }}">
            <img src="archivos.png" />
            <h4>Backup my songs</h4>
            <p>Backup your liked songs and playlists on a .txt file</p>
          </div>

          <div class="item" data-url="{{ url_for('spotify.upload_like') }}">
            <img src="archivos.png" />
            <h4>Restore my songs</h4>
            <p>Auto-like songs and create playlists from a .txt file</p>
          </div>
        </div>
      </div>
      </div>
    </div>

    <script
      src="https://kit.fontawesome.com/23cecef777.js"
      crossorigin="anonymous"
    ></script>

    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </body>
</html>
